header, nav, section, article, aside, footer {
	display: block;
}

html {
	padding: 30px 0 100px 0;
	margin: 0;
	border-top: 70px solid #003580;
	background-color: #fff;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 13px;
	position: relative;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 960px;
}

section {
	margin: 0 0 20px 0;
	clear: both;
}

h1 {
	font-size: 32px;
	color: #0896ff;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	color: #666;
}

/* header */

.header {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.hotel_name {
	margin: 0 0 5px 0;
}

.hotel_address {
	color: #999;
}

.stars {
	color: #feba02;
}

/* photos */

.photos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.photos .one_photo {
	display: inline;
}

.photos .one_photo img {
	margin: 3px;
	width: 80px;
}

/* reviews */

.reviews_list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.one_review {
	padding: 10px 10px 10px 100px;
	background-color: #e6edf6;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	min-height: 60px;
}

.one_review cite:before {
	content: '— ';
}

.review_score {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	background-color: #003580;
	color: #fff;
	text-align: center;
	font-size: 48px;
	border-radius: 5px;
}

.review_content {
	padding: 0;
	margin: 0;
}

.review_content cite {
	display: block;
	margin-top: 5px;
}

/* Review pagination */

.reviews_pagination {
	padding:0;
}

.reviews_pagination .pager_button {
	margin:5px;
	display: inline-block;
	padding:10px 12px;
	border-radius: 4px;
	background: #e6edf6;
	text-decoration: none;
	color: #003580;
}

.reviews_pagination .pager_button.active{
	background-color: #003580;
	color:#FFF;
}

/* rooms table */

.button {
	background-color: #0896ff;
	border-radius: 2px solid #fff;
	border: 2px solid #fff;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 3px #666;
	font-size: 13px;
}

.rooms_table {
	width: 100%;
}

.rooms_table th, .rooms_table td {
	padding: 5px;
}

.rooms_table tbody tr:nth-child(2n) {
	background: #e6edf6;
}

.rooms_table th {
	background-color: #003580;
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 10px 5px;
}

.rooms_table th.sort {
	cursor: pointer;
}

.rooms_table th.sort:hover {
	background-color: #003570;
}

.rooms_table th.sort:after {
	content: ' ↕';
	font-size: 0.8em;
}

.rooms_table th.sort.asc:after {
	content: ' ▲';
}

.rooms_table th.sort.desc:after {
	content: ' ▼';
}

.rooms_table .room_name {
	font-weight: bold;
	position: relative;
}

/*
For the room table extra information I experimented a bit with
the use of attr(data-x); in CSS and after, before pseudo elements.
generating the tooltip from a data-info attribute on each room.

However, I decided to create an extra element called room_info because
the previous approach made the tooltip show on the parent's hover (the whole cell)
instead of the icon's, which made the tooltip display at possible unwanted times.

Technical reason: pseudo-elements after and before cannot have a hover event on themselves.
parent:before:hover; // doesn't work
parent:hover:before; // works, however not with the expected outcome in this particular example

I only added a couple of these items to the list as a demo.
*/

.rooms_table .room_info {
	cursor: pointer;
	position: relative;
}

.rooms_table .room_info:before {
	content: '?';
	position: relative;
	background: #ccc;
	padding:2px 4px;
	font-size: 11px;
	border-radius: 50%;
}

.rooms_table .room_info:hover:before {
	background: #003570;
	color:#FFF;
}

.rooms_table .room_info .info_text {
	display: none;
	position: absolute;
	margin-bottom: 5px;
	padding:10px;
	left: -75px;
	bottom: 100%;
	width:150px;
	font-weight: normal;
	background: #FFF;
	color:#333;
	border:2px solid #003570;
	border-radius:4px;
}

.rooms_table .room_info:hover .info_text{
	display: block;
}

.rooms_table .room_occupancy {
	text-align: center;
	width: 100px;
}

.rooms_table .room_price {
	text-align: right;
	width: 120px;
}

.rooms_table .one_room .room_price:before {
	content:"€"; /* Append euro sign to allow numeric sorting on column */
}

.rooms_table .room_quantity {
	text-align: center;
	width: 150px;
}

.rooms_table tfoot td {
	padding-top: 10px;
	text-align: right;
}

.rooms_table tfoot .rooms_summary td {
	font-weight: bold;
}

.rooms_table tfoot .summary_quantity {
	text-align: center;
}

/* similar hotels */

.similar_hotels_list {
	list-style: none;
	width: 100%;
	position: relative;
	padding: 0;
}

.similar_hotels_list .similar_hotel {
	width: 25%;
	display: inline-block;
}

.similar_hotels_list .similar_hotel a {
	text-decoration: none;
}

.similar_hotels_list .hotel_name {
	color: #0896ff;
}

.similar_hotel .stars {
	margin: 0;
	font-size: 18px;
}

/* footer */

.footer {
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	background: #003580;	
	margin: 0;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Facilities */

.facilities ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.facilities li {
	display: inline-block;
	width: 220px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
}

.facilities li:before {
	content: '✔ ';
	color: #0896ff;
}

/* Map Canvas */

.hotel_map {
	font-size: 0; /*Fix inline-block percentage fit on parent's width*/
}

#map_canvas {
	width: 65%;
	height: 282px;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
}

/* Nearby Places list */

.nearby_places {
	width:35%;
	font-size: 12px;
	display: inline-block;
}

.nearby_places_list {
	list-style: none;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border:1px solid #ddd;
}

.nearby_places .one_place {
	margin: 5px;
	padding:5px;
	border-bottom: 1px solid #ddd;
}

.nearby_places .one_place:last-child {
	border-bottom: none;
}

.nearby_places .one_place img {
	float:left;
	width: 26px;
	height: 26px;
	margin-right: 5px;
}

.nearby_places .one_place address{
	margin: 0;
}

.nearby_places .one_place h4 {
	margin: 0;
	font-size: 14px;
	color:#0896ff;
}